@charset "UTF-8";


@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body, div, span, p, input, textarea, ul, ol, li, a, table, th td, h1, h2, h3, h4, h5, h6, pre, code {
	
	font-family : 'paybooc-Bold';
		
}

.container {
	width : 600px;
}

.container > section > ul.breadcrumb {
	text-align : right;
}

.table th {
	
	background-color : #EEE;
	vertical-align:middle;
	
}